---
---
@charset "utf-8";
@import 'vendor/normalize';
@import 'base/root';

body {
    background-color:white;
    color:#666;
    font-family:arial, sans-serif;
    font-size:10pt;
    margin:0px;padding:0px;
    text-align:center;
}
h1 {margin:0px; padding:5px 0px 0px 0px;}
h1 span {display:none;}
h1 img {border:none}
div#head {padding:0px;margin:0px}
div#nav {
    width:505px;
    margin:0px auto;
    text-align:left;
}
div#nav ul {
	margin:0px; padding:0px;
}
div#nav ul li {
    list-style: none;
	float:left;
}
div#nav ul li a {
	color:#666;
    margin:0px;
	padding:10px 0px;
    text-decoration:none;
    font-weight:bold;
	float:left;
	width:100px;
	height:30px;
	text-align:center;
	background-image:url(/img/drawings/misc/deactivated.png);
}
div#nav ul li a:hover{background-image:url(/img/drawings/misc/hover.png);}

div#nav ul li a.deactivated {color:#eee;}
div#nav ul li a.deactivated:hover { border-top:0px solid white;}

div#nav ul li a.grey-deactivated {background-image:url(/img/drawings/misc/grey_deactivated.png);color:white}
div#nav ul li a.grey-deactivated:hover { border-top:0px solid white;}

div#nav ul li a.current {background-image:url(/img/drawings/misc/current.png);color:white;}
div#nav ul li a.current:hover { border-top:0px solid white;}

div#content {
    width:700px;
    margin:0px auto;
	padding:0px;
	clear:both;
}
div#content img {
    margin:0px 5px 5px 0px;
    position: relative;
    background-color: #fff;
    padding:5px;
	border:1px solid #999;
}
p#byline {
	margin:10px; padding:0px;
}
div#spacer {
	height:300px;
}
a img {

}
p#time {
	font-size:60%;
	line-height:0.2em;
	color:#aaa;
}
