---
layout: default
---
  {% assign num = page.number | minus: 1 %}
  {% assign drawing = site.data.drawings[num] %}
  
  
  {% capture day %}{{ page.date | date: "%-d" }}{% endcapture %}
  {% capture dayLastTwoDigits %}{{ day | modulo: 100 }}{% endcapture %}
  {% if dayLastTwoDigits >= "11" and dayLastTwoDigits <= "13" %}
      {% assign ordinal = "th" %}
  {% else %}
      {% capture dayLastDigit %}{{ day | modulo: 10 }}{% endcapture %}
      {% case dayLastDigit %}
          {% when "1" %}
              {% assign ordinal = "st" %}
          {% when "2" %}
              {% assign ordinal = "nd" %}
          {% when "3" %}
              {% assign ordinal = "rd" %}
          {% else %}
              {% assign ordinal = "th" %}
      {% endcase %}
  {% endif %}
  {% capture ordinalDay %}{{ day | append: ordinal }}{% endcapture %}

  <h1><span>my drawings</span><a href="/drawings/"><img src="/assets/images/drawings/misc/mydrawings.png" align="center" /></a></h1>

  <div id="head">
    <div id="nav">
      <ul>
          <li><a id="first" class="" href="/1">&lt;&lt; first &nbsp;&nbsp;</a></li>
          {% if num == 0 %}
          <li><a id="prev" class="grey-deactivated">&lt; previous</a></li>
          {% else %}
          <li><a id="prev" class="" href="/{{ page.number | minus: 1 }}">&lt; previous</a></li>
          {% endif %}
          
          <li><a class="current" id="number">{{ drawing.name }}</a></li>
          
          {% assign big = site.data.drawings | size %}
          {% if page.number == big  %}
          <li><a id="next" class="grey-deactivated" >next &gt;</a></li>
          {% else %}
          <li><a id="next" class="" href="/{{ page.number | plus: 1 }}">next &gt;</a></li>
          {% endif %}
          
          <li><a id="latest" class="" href="/{{ site.data.drawings | size }}">&nbsp;&nbsp; latest &gt;&gt;</a></li>
      </ul>
    </div><!--/nav-->
  </div><!--/head-->

  <div id="content">
      <img id="drawing" src="/assets/images/drawings/full/{{ drawing.name }}.gif" alt=""/>
      <p id="caption">{{ drawing.caption }}</p>
      <p id="time">[
        {% if drawing.date == "990289620" %}sometime before {% endif %}
        {{ drawing.date | date: "%-d" }}{{ ordinalDay }}
        {{ drawing.date | date: "%B %Y" }}
      ]</p>
  </div><!--/content-->
  {{ content }}
